@model IEnumerable<WebOlimpiada.DatosRepositorio.Modelos.Area>

@{
    ViewBag.Title = "Index";
}

<h2>Areas (@ViewData["Localizacion"].ToString())</h2>

<p>
    @{
        bool estaHabilitado = (bool)ViewData["EstaHabilitadoCrear"];
        if (estaHabilitado)
        {
        
        @Html.ActionLink("Crear Nueva", "Create")
        
        }
    }

</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.AreaOcupada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndicadorLocalizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.AreaOcupada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndicadorLocalizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "Edit", new { id=item.AreaId }) |
            @Html.ActionLink("Eventos", "Index", "Evento", new { areaId=item.AreaId }, new { }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.AreaId })
        </td>
    </tr>
}

</table>
